<div #container class="container">
  <h1>Draft Pick: Step {{draftService.currentDraftStep + 1}} of {{draftService.draftSteps.length}}</h1>

  <p class='h5 mb-1 mt-3'>Currently Picking:</p>

  <div class="card mb-2" style="max-width: 500px">
    <div class="row">
      <div class="col-4 d-flex align-items-center">
        <app-draft-icon [size]="IconSize.Medium" [icon]="currentPlayer.icon"></app-draft-icon>
      </div>
      <div class="col-8 card-body">
        <p class="mb-1"><b>Player:</b> {{currentPlayer.playerNumber}}</p>
        @if (draftService.teamDraft) {
          <p class="mb-1"><b>Team: </b> {{currentPlayer.team}}</p>
        }
        @if (currentPlayer.mercenaryPick || currentPlayer.factionPick) {
          <b class="mb-0 h6">Previous pick:</b>
        }
        @if (currentPlayer.factionPick) {
          <p class="mb-1">
            Faction - {{currentPlayer.factionPick.faction}}
            @if (draftService.randomBuilding) {
              <span>with {{currentPlayer.factionPick.building}}</span>
            }
          </p>
        }
        @if (currentPlayer.mercenaryPick) {
          <p class="mb-1">Mercenary - {{currentPlayer.mercenaryPick}}</p>
        }
      </div>
    </div>
  </div>

  <p>Please choose one of the following factions or mercenaries as your pick for this round.</p>

  @if (!currentPlayer.factionPick) {
    <div>
      <p class='h5 mb-0 mt-3'>Available Factions:</p>
      <ul class="list-group" >
        @for (faction of draftService.selectedFactions; track faction) {
          <li class="list-group-item" [ngClass]="{'selected-item' : faction === factionChoice}" (click)="chooseFaction(faction) ">
            <p class="mb-0" [ngClass]="{'selected-item' : faction === factionChoice}">{{faction.faction}}
              @if (draftService.randomBuilding) {
                <span>with {{faction.building}}</span>
              }
            </p>
          </li>
        }
      </ul>
    </div>
  }

  @if (!currentPlayer.mercenaryPick && draftService.availableMercs.length) {
    <div>
      <p class='h5 mb-0 mt-3'>Available Mercenaries:</p>
      <ul class="list-group">
        @for (merc of draftService.selectedMercs; track merc) {
          <li class="list-group-item" [ngClass]="{'selected-item' : merc === mercenaryChoice}" (click)="chooseMercenary(merc)">
            <p class="mb-0">{{merc}}</p>
          </li>
        }
      </ul>
    </div>
  }

  @if (choiceType) {
    <div>
      <p class="h5 mb-0 mt-3">Your pick for this round:</p>
      @if (this.choiceType === 'faction') {
        <p class="mb-2">Faction: {{factionChoice?.faction}} @if (draftService.randomBuilding) {
          <span>with {{factionChoice?.building}}</span>
        }</p>
      }
      @if (this.choiceType === 'mercenary') {
        <p class="mb-2">Mercenary: {{mercenaryChoice}}</p>
      }
    </div>
  }

  @if (noPickError) {
    <div
      class="alert alert-warning fade-in mt-3 mb-0" role="alert">
      Please select an item from the list of available picks.
    </div>
  }

  <div>
    <button class="btn btn-primary m-3" (click)="undo()">
      Undo
      <i  class="bi bi-arrow-counterclockwise"></i>
    </button>
    <button class="btn btn-primary my-3" (click)="next()">
      Next
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

</div>

