<div class="container">
  <h1 class="mt-3">Player Select</h1>
  <p>Starting in any order you like, have each player select an icon to represent them in the draft by taping or clicking on it.</p>
  <p>Remember the icon you chose to represent you!</p>

  @if (errors.tooFewIconsSelected) {
    <div class="alert alert-warning" role="alert">
      Please make sure all {{draftService.numberOfPlayers}} players have selected an icon.
    </div>
  }

  <div appDynamicGrow [lockHeight]="this.draftService.selectedIcons.length">
    @if (draftService.selectedIcons.indexOf('star') < 0) {
      <app-draft-icon
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Medium"
        [icon]="'star'"
        (click)="selectIcon('star')">
      </app-draft-icon>
    }

    @if (draftService.selectedIcons.indexOf('bug') < 0) {
      <app-draft-icon
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Medium"
        [icon]="'bug'"
        (click)="selectIcon('bug')">
      </app-draft-icon>
    }

    @if (draftService.selectedIcons.indexOf('face') < 0) {
      <app-draft-icon
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Medium"
        [icon]="'face'"
        (click)="selectIcon('face')">
      </app-draft-icon>
    }

    @if (draftService.selectedIcons.indexOf('moon') < 0) {
      <app-draft-icon
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Medium"
        [icon]="'moon'"
        (click)="selectIcon('moon')">
      </app-draft-icon>
    }

    @if (draftService.selectedIcons.indexOf('shield') < 0) {
      <app-draft-icon
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Medium"
        [icon]="'shield'"
        (click)="selectIcon('shield')">
      </app-draft-icon>
    }

    @if (draftService.selectedIcons.indexOf('tree') < 0) {
      <app-draft-icon
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Medium"
        [icon]="'tree'"
        (click)="selectIcon('tree')">
      </app-draft-icon>
    }

    @if (draftService.selectedIcons.indexOf('cloud') < 0) {
      <app-draft-icon
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Medium"
        [icon]="'cloud'"
        (click)="selectIcon('cloud')">
      </app-draft-icon>
    }

    @if (draftService.selectedIcons.indexOf('droplet') < 0) {
      <app-draft-icon
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Medium"
        [icon]="'droplet'"
        (click)="selectIcon('droplet')">
      </app-draft-icon>
    }

    @if (draftService.selectedIcons.indexOf('fire') < 0) {
      <app-draft-icon
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Medium"
        [icon]="'fire'"
        (click)="selectIcon('fire')">
      </app-draft-icon>
    }
  </div>

  <ng-container>
    <h2>Selected Icons</h2>
    @for (icon of draftService.selectedIcons; track icon; let i = $index) {
      <app-draft-icon
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Smallest"
        [icon]="icon">
      </app-draft-icon>
    }
  </ng-container>

  @if (draftService.selectedIcons.length) {
    <div>
      <button class="btn btn-primary m-3" (click)="undo()">
        Undo
        <i  class="bi bi-arrow-counterclockwise"></i>
      </button>
      <button class="btn btn-primary my-3" (click)="next()">
        Next
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  }

</div>
