<div class="container">
  <app-heading-with-back [title]="'Player Select'"></app-heading-with-back>

  <p>Starting in any order you like, have each player select an icon to represent them by taping or clicking on it.</p>
  <p>Remember the icon you choose to represent you!</p>

  <div *ngIf="errors.tooFewIconsSelected" class="alert alert-warning" role="alert">
    Please make sure all {{numberOfPlayers}} players have selected an icon.
  </div>

  <div appDynamicGrow [lockHeight]="playerSelectService.selectedIcons.length">
    @for (icon of iconValuesArray; track icon) {
      <app-player-icon
        *ngIf="playerSelectService.selectedIcons.indexOf(icon) < 0" 
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Medium" 
        [icon]="icon"
        (click)="selectIcon(icon)">
      >
      </app-player-icon>  
    }
  </div>

  <ng-container>
    <h2>Selected Icons</h2>
    <ng-container *ngFor="let icon of playerSelectService.selectedIcons; let i = index">
      <app-player-icon 
        [@simpleFadeAnimation]="'in'"
        [size]="IconSize.Smallest" 
        [icon]="icon">
      </app-player-icon>
    </ng-container>
  </ng-container>

  <div *ngIf="playerSelectService.selectedIcons.length">
    <button class="btn btn-primary m-3" (click)="undo()">
      Undo
      <i  class="bi bi-arrow-counterclockwise"></i>
    </button>
    <button class="btn btn-primary my-3" (click)="next()">
      Next
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

</div>
