<div class="container">
  <h1>Heroes of Land, Air and Sea Tools</h1>
  
  <div class="card mt-3" style="width: 18rem;" (click)="router.navigate(['holas/holas-draft-start'])">
    <div class="card-body">
      <h5 class="card-title">Start a Draft</h5>
      <p class="card-textn mb-0">This tool will randomize the available factions and mercenaries and allow players or teams to draft them.</p>
      <a class="card-link">Start a draft</a>
    </div>
  </div>

  <!-- <h1 (click)="router.navigate(['holas/holas-draft-start'])">Draft factions and mercinaries</h1> -->
  <h1 class="my-3" (click)="router.navigate(['holas/holas-rules-update'])">Rules Updates for 2vs2</h1>
  <h1 class="my-3">Team Round Timer</h1>
  <h1 class="my-3">Alternate game modes</h1>
</div>
