.die-icon {
  height: 60px;
  width: 60px;
}

.btn-dice {
  width: 50px
}

.dice-container {
  box-sizing: border-box;
  height: 600px;
  max-width: 600px;
  border-style: solid; 
  border-width: 2px;
}