<!-- (click)="isFadeOut = !isFadeOut" -->
@if (icon === 'Tree') {
  <i
    class="bi m-3 bi-tree-fill"
    style="color: rgb(6, 110, 49);"
    [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}" >
  </i>
}
@if (icon === 'Fire') {
  <i
    class="bi m-3 bi-fire"
    style="color: rgb(173, 163, 10);"
    [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}" >
  </i>
}
@if (icon === 'Shield') {
  <i
    class="bi m-3 bi-shield-fill"
    [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
    style="color: rgb(156, 45, 45);">
  </i>
}
@if (icon === 'Hammer') {
  <i
    class="bi m-3 bi-hammer"
    [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
    style="color: rgb(45, 84, 156);">
  </i>
}
@if (icon === 'Bug') {
  <i
    class="bi m-3 bi-bug-fill"
    [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
    style="color: rgb(136, 25, 117);">
  </i>
}
@if (icon === 'Dice') {
  <i class="bi m-3 bi-dice-4-fill"
    [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
    style="color: rgb(76, 99, 12);">
  </i>
}
@if (icon === 'Moon') {
  <i class="bi m-3 bi-moon-stars-fill"
    [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
    style="color: rgb(69, 45, 156);">
  </i>
}
@if (icon === 'Cloud') {
  <i class="bi m-3 bi-cloud-lightning-rain-fill"
    [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
    style="color: rgb(86, 195, 209);">
  </i>
}
@if (icon === 'Droplet') {
  <i class="bi m-3 bi-droplet-fill"
    [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
    style="color: rgb(209, 86, 143);">
  </i>
}
@if (icon === 'Feather') {
  <i class="bi m-3 bi-feather"
    [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
    style="color: rgb(62, 110, 110);">
  </i>
}