<!-- (click)="isFadeOut = !isFadeOut" -->
<i *ngIf="icon === 'Tree'" 
  class="bi m-3 bi-tree-fill" 
  style="color: rgb(6, 110, 49);"
  [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}" >
</i>
<i *ngIf="icon === 'Fire'" 
  class="bi m-3 bi-fire" 
  style="color: rgb(173, 163, 10);"
  [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}" >
</i>
<i *ngIf="icon === 'Shield'"  
  class="bi m-3 bi-shield-fill" 
  [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
  style="color: rgb(156, 45, 45);">
</i>
<i *ngIf="icon === 'Hammer'" 
  class="bi m-3 bi-hammer" 
  [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
  style="color: rgb(45, 84, 156);">
</i>
<i *ngIf="icon === 'Bug'" 
  class="bi m-3 bi-bug-fill" 
  [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
  style="color: rgb(136, 25, 117);">
</i>
<i class="bi m-3 bi-dice-4-fill"
  *ngIf="icon === 'Dice'"
  [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
  style="color: rgb(76, 99, 12);">
</i>
<i class="bi m-3 bi-moon-stars-fill"
  *ngIf="icon === 'Moon'"
  [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
  style="color: rgb(69, 45, 156);">
</i>
<i class="bi m-3 bi-cloud-lightning-rain-fill" 
  *ngIf="icon === 'Cloud'" 
  [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
  style="color: rgb(86, 195, 209);">
</i>
<i class="bi m-3 bi-droplet-fill" 
  *ngIf="icon === 'Droplet'" 
  [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
  style="color: rgb(209, 86, 143);">
</i>
<i class="bi m-3 bi-feather" 
  *ngIf="icon === 'Feather'" 
  [ngClass]="{'smallest-icon' : size === 'smallest', 'small-icon' : size === 'small', 'medium-icon' : size === 'medium', 'large-icon' : size === 'large'}"
  style="color: rgb(62, 110, 110);">
</i>