.spell-card {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 8px;
  //Maintain a 1.4 ratio between height and width
  height: 364px;
  width: 260px;
}

@font-face {
  font-family: segoe;
  src: url(../../../../assets/font/Segoe-Print-Font.ttf);
}

.segoe {
  font-family: segoe;
}