.spell-card {
  border-style: solid;
  border-color: black;
  border-width: 9px;
  //Maintain a 1.4 ratio between height and width
  height: 362px;
  width: 261px;
}

@font-face {
  font-family: segoe;
  src: url(../../../../assets/font/Segoe-Print-Font.ttf);
}

.segoe {
  font-family: segoe;
}

.small-text {
  font-size: small;
}