<div class="container">
  <!-- <form> -->
    <h1>Draft Options</h1>

    <!-- testing -->
    
    <!-- testing -->

    <p>First, lets set your preferences for this draft.</p>
    
    <label for="playerNumberSelect">Number of Players:</label>
    <select [(ngModel)]="draftService.numberOfPlayers" class="form-select mb-3" id="playerNumberSelect" aria-label="Default select example">
      <option [ngValue]="1">One</option>
      <option [ngValue]="2">Two</option>
      <option [ngValue]="3">Three</option>
      <option [ngValue]="4" selected>Four</option>
      <option [ngValue]="5">Five</option>
      <option [ngValue]="6">Six</option>
      <option [ngValue]="7">Seven</option>
    </select>

    <p class='mb-0 mt-3 h5'>Factions to Include:</p>

    <div class="row">
      
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" 
            type="checkbox" 
            id="humansCheckbox" 
            (change)="factionChange($event, HolasFaction.Humans)" 
            checked>
          <label class="form-check-label" for="flexCheckChecked">
            Humans
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox"  
            (change)="factionChange($event, HolasFaction.Orcs)"
            id="orcsCheckbox" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Orcs
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            (change)="factionChange($event, HolasFaction.Elves)" 
            id="elvesCheckbox" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Elves
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox"  
            (change)="factionChange($event, HolasFaction.Dwarves)"
            id="dwarvesCheckbox" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Dwarves
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox"  
          (change)="factionChange($event, HolasFaction.Lionkin)"
            id="lionkinCheckbox" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Lionkin
          </label>
        </div>
        
      </div> <!-- column end -->

      <div class="col">

        <div class="form-check">
          <input class="form-check-input" type="checkbox" 
            (change)="factionChange($event, HolasFaction.Undead)" 
            id="undeadCheckbox" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Undead
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            (change)="factionChange($event, HolasFaction.Goblins)"
            id="goblinsCheckbox" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Goblins
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" 
            (change)="factionChange($event, HolasFaction.Lizardfolk)"
            id="lizardfolkCheckbox" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Lizardfolk
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" 
            (change)="factionChange($event, HolasFaction.Birdfolk)" 
            id="birdfolkCheckbox" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Birdfolk
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            (change)="factionChange($event, HolasFaction.Merfolk)"
            id="merfolkCheckbox" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Merfolk
          </label>
        </div>

      </div> <!-- column end -->

    </div>

    <p class='mb-0 mt-3 h5'>Mercenaries to Include:</p>

    <button type="button" class="btn btn-primary btn-sm me-4 my-2"
      (click)="selectAllMercenaries()">
      Select All
    </button>
    <button type="button" class="btn btn-primary btn-sm me-4 my-2"
      (click)="unselectAllMercenaries()">
      Unselect All
    </button>

    <div class="row">
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            (change)="mercenaryChange($event, Mercenary.Druid)"
            [checked]="draftService.availableMercs.indexOf(Mercenary.Druid) > -1"  
            id="druidCheckbox">
          <label class="form-check-label" for="flexCheckChecked">
            {{Mercenary.Druid}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            (change)="mercenaryChange($event, Mercenary.Warlord)"
            [checked]="draftService.availableMercs.indexOf(Mercenary.Warlord) > -1"   
            id="warlordCheckbox">
          <label class="form-check-label" for="flexCheckChecked">
            {{Mercenary.Warlord}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            (change)="mercenaryChange($event, Mercenary.Harvester)" 
            [checked]="draftService.availableMercs.indexOf(Mercenary.Harvester) > -1"  
            id="harvesterCheckbox" >
          <label class="form-check-label" for="flexCheckChecked">
            {{Mercenary.Harvester}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            (change)="mercenaryChange($event, Mercenary.Doppelganger)" 
            [checked]="draftService.availableMercs.indexOf(Mercenary.Doppelganger) > -1"  
            id="doppelgangerCheckbox">
          <label class="form-check-label" for="flexCheckChecked">
            {{Mercenary.Doppelganger}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" 
            (change)="mercenaryChange($event, Mercenary.HillGiant)"
            [checked]="draftService.availableMercs.indexOf(Mercenary.HillGiant) > -1"  
            id="hillGiantCheckbox">
          <label class="form-check-label" for="flexCheckChecked">
            Mercenary.HillGiant
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            (change)="mercenaryChange($event, Mercenary.Gorgon)"
            [checked]="draftService.availableMercs.indexOf(Mercenary.Gorgon) > -1"  
            id="gorgonCheckbox">
          <label class="form-check-label" for="flexCheckChecked">
            {{Mercenary.Gorgon}}
          </label>
        </div>
      </div> <!-- column end -->
      
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            (change)="mercenaryChange($event, Mercenary.DemonLord)"
            [checked]="draftService.availableMercs.indexOf(Mercenary.DemonLord) > -1"   
            id="demonLordCheckbox">
          <label class="form-check-label" for="flexCheckChecked">
            {{Mercenary.DemonLord}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" 
            (change)="mercenaryChange($event, Mercenary.Treant)"
            [checked]="draftService.availableMercs.indexOf(Mercenary.Treant) > -1"  
            id="treantCheckbox">
          <label class="form-check-label" for="flexCheckChecked">
            {{Mercenary.Treant}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" 
            (change)="mercenaryChange($event, Mercenary.Cultist)"
            [checked]="draftService.availableMercs.indexOf(Mercenary.Cultist) > -1"  
            id="cultistCheckbox">
          <label class="form-check-label" for="flexCheckChecked">
            {{Mercenary.Cultist}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" 
            (change)="mercenaryChange($event, Mercenary.Minotaur)"
            [checked]="draftService.availableMercs.indexOf(Mercenary.Minotaur) > -1"  
            id="minotaurCheckbox">
          <label class="form-check-label" for="flexCheckChecked">
            {{Mercenary.Minotaur}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            (change)="mercenaryChange($event, Mercenary.DragonscaleYacht)" 
            [checked]="draftService.availableMercs.indexOf(Mercenary.DragonscaleYacht) > -1"  
            id="dragonscaleYachtCheckbox">
          <label class="form-check-label" for="flexCheckChecked">
            {{Mercenary.DragonscaleYacht}}
          </label>
        </div>
      </div> <!-- column end -->
    </div>

    <p class='mb-0 mt-3 h5'>Additional Options:</p>
    <div class="row">
      <div class="col">
        <div class="form-check">
          <input 
            [checked]="draftService.randomBuilding"
            (change)="draftService.randomBuilding = !draftService.randomBuilding" 
            class="form-check-input" 
            type="checkbox" 
            id="randomBuilding">
          <label class="form-check-label" for="randomBuilding">
            Random Building
          </label>
          <i class="bi m-3 bi-question-circle-fill"  
            data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          </i>
        </div>
      </div>
    </div>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Each faction will start with a random building of the five available: Barracks, Mage Tower, Thieves Guild, Shipyard, Aviary (shown from left to right on your player board). 
        Place a worker from your supply on the building on your faction board to show that it has been built.
      </div>
    </div>

    <div class="form-check">
      <input 
        [checked]="draftService.teamDraft"
        (change)="draftService.teamDraft = !draftService.teamDraft" 
        class="form-check-input" 
        type="checkbox" 
        id="teamDraft">
      <label class="form-check-label" for="randomBuilding">
        Team Draft
      </label>
      <i class="bi m-3 bi-question-circle-fill" 
        data-bs-toggle="collapse" data-bs-target="#teamCollapse" aria-expanded="false" aria-controls="teamCollapse">
      </i>
      <div *ngIf="errors.get('teamDraftWithOddPlayers')" class="text-danger">
        Please select 4 or 6 for the number of players to use Team draft.
      </div>
    </div>

    <div class="collapse" id="teamCollapse">
      <div class="card card-body">
        For 2vs2 or 3vs3 play. When drafting, the draft order will alternate between the two teams when necessary.
      </div>
    </div>

    <div *ngIf="errors.get('tooFewFactionsSelected')" class="alert alert-warning" role="alert">
      Please select at least one faction per player.
    </div>

    <div *ngIf="errors.get('tooFewMercenariesSelected')" 
      class="alert alert-warning" role="alert">
      If you would like to draft with Mercenaries, please select at least one mercenary per player. Otherwise, unselect all mercenaries.
    </div>

    <button class="btn btn-primary my-3" (click)="next()">
      Next
      <i class="bi bi-arrow-right"></i>
    </button>

  <!-- </form> -->
</div>  


