<div class="container">
  
  <app-heading-with-back [title]="'Faction Boards'"></app-heading-with-back>

  <div class='d-flex flex-column'>
    <a href="../../../assets/uprising_factions/Abominations.jpg" target="_blank">Abominations</a>
    <a href="../../../assets/uprising_factions/Dragonborn.jpg" target="_blank">Dragonborn</a>
    <a href="../../../assets/uprising_factions/Drow.jpg" target="_blank">Drow</a>
    <a href="../../../assets/uprising_factions/Gnomes.jpg" target="_blank">Gnomes</a>
    <a href="../../../assets/uprising_factions/HighElves.jpg" target="_blank">High Elves</a>
    <a href="../../../assets/uprising_factions/MountainDwarves.jpg" target="_blank">Mountain Dwarves</a>
    <a href="../../../assets/uprising_factions/Orcs.jpg" target="_blank">Orcs</a>
    <a href="../../../assets/uprising_factions/OrderOfTheMoon.jpg" target="_blank">Order Of The Moon</a>
    <a href="../../../assets/uprising_factions/Templar.jpg" target="_blank">Templar</a>
    <a href="../../../assets/uprising_factions/TestBoard.jpg" target="_blank">Test Board</a>
  </div>


</div>
