<div class='container'>
  <app-heading-with-back [title]="'Draft Items & Categories'"></app-heading-with-back>

  <app-toast [message]="'Your draft has been saved.'"></app-toast>



  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input
              id="dateOfBirth"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" type="button"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>





  <!-- [ngStyle]="{'display':displayStyle}"  -->
  <div #deleteModal
    class="modal fade" id="deleteModal" tabindex="-1" 
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Deleting this category will delete all items matching the same category. Do you still want to delete this category?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Delete Category</button>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
  
    <div class="accordion-item" *ngIf="draftService.selectedDraft.useItemCategories">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" 
          data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Draft Categories
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col">
              <input 
                [(ngModel)]="newCategoryName"
                [ngClass]="{'is-invalid' : errors.get('categoryNameMissing') === true}"
                type="email" 
                class="form-control" 
                id="addDraftChoice" 
                placeholder="ex: Faction"
              >
              <div class="invalid-feedback">
                Please enter a category name.
              </div>
            </div>
            <div class="col">
              <button class="btn btn-primary" (click)="addNewItemCategory()">
                Add Category
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
          </div>
          <strong class="mb-0">Available Categories</strong>
          <div class="d-flex align-items-center" *ngFor="let category of draftService.selectedDraft.draftItemCategories">
            <span style="min-width: 100px;">{{category}}</span>
            <i (click)="deleteDraftCategory(category, content)" 
              data-bs-toggle="modal" data-bs-target="#exampleModal" 
              class="bi bi-trash-fill mx-3 med-icon">
            </i>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" 
          data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
          Draft Items
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col">
              <label for="newItemName" class="form-label">Item Name</label>
              <input 
                id="newItemName"
                [(ngModel)]="newItemName"
                [ngClass]="{'is-invalid' : errors.get('itemNameMissing') === true}"
                type="email" 
                class="form-control" id="addDraftChoice" 
                placeholder="ex: Orcs "
              >
              <div class="invalid-feedback">
                Please enter an item name.
              </div>
            </div>
            <div class="col-sm" *ngIf="draftService.selectedDraft.useItemCategories">
              <label for="newItemCategory" class="form-label">Item Category</label>
              <select
                id="newItemCategory"
                [(ngModel)]="newItemCategory"
                [ngClass]="{'is-invalid' : errors.get('itemCategoryMissing') === true}"
                class="form-select" 
                id="numberOfPlayersSelect"
              >
                <option value=''>Select a category</option>
                <option *ngFor='let category of draftService.selectedDraft.draftItemCategories'>{{category}}</option>
              </select>
              <div class="invalid-feedback">
                Please select a category.
              </div>
            </div>
          </div>
          <button class="btn btn-primary mt-2" 
            (click)="addDraftItem()">
            Add This Item
            <i class="bi bi-plus-circle"></i>
          </button>

          <div class="row">
            <strong class="mb-0 mt-3">Available Items</strong>
            <div class="col-md-5 d-flex flex-nowrap align-items-center justify-content-between draft-item m-1" 
              *ngFor="let item of draftService.selectedDraft.draftItems"
              style="max-width: 500px;">
              <span style="min-width: 100px;">{{item.itemName}}</span>
              <span style="min-width: 50px;">{{item.itemCategory}}</span>
              <i (click)="deleteDraftItem(item)" 
                data-bs-toggle="modal" data-bs-target="#exampleModal" 
                class="bi bi-trash-fill mx-3 med-icon">
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item"> 
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" 
          data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Save this Draft
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Would you like to save the current draft configuration to your browsers storage? Saving this draft will prevent you from having
          to enter in the same information if you would like to perform the same draft in the future. This includes the draft options, categories,
          and items you have entered.
          *note: This draft will only be available on this device and web browser.
          <div class="row mt-3">
            <label for="draftName"  class="form-label">Draft Name</label>
            <div class="col">
              <input type="text" 
                class="form-control" 
                id="draftName"
                [(ngModel)]="draftService.selectedDraft.draftName" 
                placeholder="ex: Everdell Draft"
              >
            </div>
            <div class="col">
              <button
                type="button" class="btn btn-primary" 
                (click)="saveDraft()">
                Save this Draft
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  

  <hr>

  <div *ngIf="errors.get('tooFewItems')"
    class="alert alert-warning fade-in mt-3 mb-0" role="alert">
    You do not have enough draft items for your current number of players and picks per player options. 
    Please add more items or adjust your Draft Options.
  </div>
  <div *ngIf="errors.get('tooFewItemsPerCategory')"
    class="alert alert-warning fade-in mt-3 mb-0" role="alert">
    For each category you have, you must add enough items for each player to draft 1 item of that category. 
    Please add more items or adjust the player count.
  </div>
  <div *ngIf="errors.get('tooFewCategories')"
    class="alert alert-warning fade-in mt-3 mb-0" role="alert">
    In order for each player to have {{draftService.selectedDraft.picksPerPlayer}} picks, 
    they must have items of at least {{draftService.selectedDraft.picksPerPlayer}} categories to pick from. 
    Please add additional categories and the corresponding items for those categores.
  </div>

  <div>
    <button class="btn btn-primary my-3"
      (click)="startDraft()"
    >
      Start Drafting
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

</div>
