.smallest-icon {
  font-size: 2rem;
}
.small-icon {
  font-size: 3rem;
}
.medium-icon {
  font-size: 5rem;
}
.large-icon {
  font-size: 8rem;
}
.huge-icon {
  font-size: 10rem;
}

.smallest {
  font-size: 2rem;
}
.small {
  font-size: 3rem;
}
.medium {
  font-size: 5rem;
}
.large {
  font-size: 8rem;
}
.huge {
  font-size: 10rem;
}