.rotate-transition {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.rotate-clockwise {
  transform: rotate(180deg);
}

.fade-out {
  animation: fade-out .4s ease-out both;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in .4s ease-in both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}