<div class="container">
  <app-heading-with-back [title]="'Uprising Map Builder'"></app-heading-with-back>

  <app-toast [message]="'Your map has been saved.'"></app-toast>
  
  <div class="d-flex justify-content-between">
    <!-- Button group -->
    <div class="d-flex flex-row">

      <button class="btn btn-primary btn-sm me-2" (click)="mapTiles.push(1)">Add Map Tile</button>
      <div class="dropdown me-2">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Add Flag
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item pointer" (click)="mapFlagsRed.push(1)">Red</li>
          <li class="dropdown-item pointer" (click)="mapFlagsOrange.push(1)">Orange</li>
          <li class="dropdown-item pointer" (click)="mapFlagsYellow.push(1)">Yellow</li>
          <li class="dropdown-item pointer" (click)="mapFlagsGreen.push(1)">Green</li>
        </ul>
      </div>
      <div class="dropdown me-2">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Add Portal
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item pointer" (click)="mapPortalsBlue.push(1)">Blue</li>
          <li class="dropdown-item pointer" (click)="mapPortalsPurple.push(1)">Purple</li>
          <li class="dropdown-item pointer" (click)="mapPortalsTeal.push(1)">Teal</li>
        </ul>
      </div>
      <button class="btn btn-primary btn-sm me-2" (click)="mapCapitols.push(1)">Add Capitol</button>
      <button class="btn btn-primary btn-sm me-2" (click)="mapMountains.push(1)">Add Mountain Region</button>
      <button class="btn btn-primary btn-sm me-2" (click)="mapWaterRegions.push(1)">Add Water Region</button>
    </div>
    
    <div>
      <i class="bi bi-trash dropzone" style="font-size: 2rem;"></i>
    </div>
  </div>


  <div [ngClass]="{
      'map-small' : selectedMap.mapSize === UprisingMapSize.Small,
      'map-medium' : selectedMap.mapSize === UprisingMapSize.Medium,
      'map-large' : selectedMap.mapSize === UprisingMapSize.Large,
      'map-huge' : selectedMap.mapSize === UprisingMapSize.Huge,
    }" 
    id="image-group" 
    class="mt-3 draw-zone">

    <div *ngFor="let map of mapTiles">
      <img 
        class="drag-drop position-absolute bottom-0 start-0 z1"
        src="../../../assets/uprising_map_builder/MapSegment.svg" 
        name='map-element'
        width="190px"> 
    </div>
  
    <div *ngFor="let flag of mapCapitols"> 
      <img class="drag-drop position-absolute bottom-0 start-0 z2"
        src="../../../assets/uprising_map_builder/Castle.svg" 
        name='map-element'
        width="50px">
    </div>
  
    <div *ngFor="let mountain of mapMountains"> 
      <img class="drag-drop position-absolute bottom-0 start-0 z2" 
        src="../../../assets/uprising_map_builder/Mountains.svg"
        name='map-element'
        width="50px">
    </div>
  
    <div *ngFor="let water of mapWaterRegions"> 
      <img class="drag-drop position-absolute bottom-0 start-0 z2" 
        src="../../../assets/uprising_map_builder/Water.svg"
        name='map-element' 
        width="65px">
    </div>

    <div *ngFor="let flag of mapFlagsGreen"> 
      <img class="drag-drop position-absolute bottom-0 start-0 z2"
        src="../../../assets/uprising_map_builder/FlagGreen.svg"
        name='map-element' 
        width="30px">
    </div>
    <div *ngFor="let flag of mapFlagsYellow"> 
      <img class="drag-drop position-absolute bottom-0 start-0 z2"
        src="../../../assets/uprising_map_builder/FlagYellow.svg"
        name='map-element' 
        width="30px">
    </div>
    <div *ngFor="let flag of mapFlagsOrange"> 
      <img class="drag-drop position-absolute bottom-0 start-0 z2"
        src="../../../assets/uprising_map_builder/FlagOrange.svg"
        name='map-element' 
        width="30px">
    </div>
    <div *ngFor="let flag of mapFlagsRed"> 
      <img class="drag-drop position-absolute bottom-0 start-0 z2"
        src="../../../assets/uprising_map_builder/FlagRed.svg"
        name='map-element' 
        width="30px">
    </div>

    <div *ngFor="let portal of mapPortalsBlue"> 
      <img class="drag-drop position-absolute bottom-0 start-0 z2"
        src="../../../assets/uprising_map_builder/Portal-Blue.svg"
        name='map-element' 
        width="50px">
    </div>
    <div *ngFor="let portal of mapPortalsPurple"> 
      <img class="drag-drop position-absolute bottom-0 start-0 z2"
        src="../../../assets/uprising_map_builder/Portal-Purple.svg"
        name='map-element' 
        width="50px">
    </div>
    <div *ngFor="let portal of mapPortalsTeal"> 
      <img class="drag-drop position-absolute bottom-0 start-0 z2"
        src="../../../assets/uprising_map_builder/Portal-Teal.svg"
        name='map-element' 
        width="50px">
    </div>

    <!-- HTML from saved maps is injected here -->
    <div id='inner-div'></div>
  </div>

  <div class="my-3">
    <label for="exampleFormControlTextarea1" class="form-label">Map Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
      [(ngModel)]="selectedMap.description" 
      placeholder="Add a description and any special instructions on playing this map here.">
    </textarea>
  </div>

  <div class="mb-3">
    <button class='btn btn-primary me-2'
      (click)="saveAsImage()">
      Save Map Image
    </button>
  
    <button class='btn btn-primary me-2'
      (click)="saveToLocalStorage()">
      Save Map To Browser
    </button>
  </div>

</div>
