.draggable {
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

.map-tile {
  width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  z-index: 1;
}

.flag {
  z-index: 2;
  &-yellow {
    filter: invert(91%) sepia(17%) saturate(6840%) hue-rotate(358deg) brightness(103%) contrast(105%);
    // background-color:#ffd700;
  }
  &-orange {
    filter: invert(72%) sepia(33%) saturate(4408%) hue-rotate(358deg) brightness(101%) contrast(105%);
    // background-color: orange;
  }
  &-red {
    filter: invert(12%) sepia(97%) saturate(5903%) hue-rotate(6deg) brightness(95%) contrast(128%);
    // background-color: red;
  }
  &-green {
    // background-color: green;
    filter: invert(23%) sepia(80%) saturate(5478%) hue-rotate(111deg) brightness(95%) contrast(103%);
  }
}

.portal {
  z-index: 2;
  &-blue {
    filter: invert(39%) sepia(36%) saturate(2598%) hue-rotate(208deg) brightness(89%) contrast(99%);
    // background-color:#4169e1;
  }
  &-purple {
    filter: invert(12%) sepia(38%) saturate(7436%) hue-rotate(290deg) brightness(99%) contrast(121%);
    // background-color: #800080;
  }
  &-teal {
    filter: invert(35%) sepia(10%) saturate(7496%) hue-rotate(147deg) brightness(95%) contrast(101%);
    // background-color: #008080;
  }
}

.pointer {
  cursor: pointer;
}

.draw-zone {
  height: 600px; 
  width: 100%; 
  border-radius: 10px; 
  border-style: solid; 
  border-width: 2px;
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  // width: 100px;
  transition: background-color 0.3s;
}

// Style of drop zone when an elemnt is being dragged and is able to be placed in the drop zone
.drop-active {
  border-color: #aaa;
}

// Style of drop zone when element is dragged and able to be dropped
.drop-target {
  background-color: #29e;
  border-color: #af1a1a;
  border-style: solid;
}

// Draggable elements
.drag-drop {
  touch-action: none;
  transform: translate(0px, 0px);
  transition: background-color 0.3s;
}

// Style of elements that are dragged into the drop zone
.drag-drop.can-drop {
  // background-color: #4e4;
}