<div class="container">

  <app-heading-with-back [title]="'Spell Cards'"></app-heading-with-back>

  <div>
    <label for="spellCardSort">Spell Card Sort</label>
    <select (change)="sortOptionChangeEvent($event)"
      class="form-select mb-3"
      style="max-width: 300px;"
      id="spellCardSort" aria-label="How would you like to sort the spell card list?">
      <option
        *ngFor="let option of SpellCardSortOptions | keyvalue"
        [ngValue]="option.value">{{option.value}}
      </option>
    </select>
  </div>

  <button *ngIf="spellCardService.spellCardsToPrint.size > 0"
    class="btn btn-primary sticky-top fade-in mb-2"
    style="top: 5px"
    (click)="router.navigate(['uprising/spell-cards-print-sheet'])"
    [attr.aria-label]="'Print ' + spellCardService.spellCardsToPrint.size + ' selected spell cards'"
  >
    Print {{spellCardService.spellCardsToPrint.size}} Spell Card{{spellCardService.spellCardsToPrint.size > 1 ? 's' : ''}}
  </button>


  <div class="row ms-0">
    <div *ngFor="let card of spellCards; index as i"
      [ngClass]="{'selected' : spellCardService.spellCardsToPrint.has(card.name)}"
      class="card mb-2 me-2"
      style="max-width: 20rem;">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <i *ngIf="card.castType == 'Prepared'" class="bi bi-clock" aria-hidden="true"></i>
          <i *ngIf="card.castType == 'Instant'" class="bi bi-lightning-fill" aria-hidden="true"></i>
          <p class="card-title fs-6 fw-bold">{{card.name}}</p>
          <div>
            <i *ngFor="let item of [].constructor(card.spellCost)" class="bi bi-gem ms-1" aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-text" [innerHTML]="card.htmlDescription"></div>
      </div>
      <div class="card-footer row">
        <button class="btn btn-link p-0" 
          (click)="addCardToPrintList(card)" 
          [attr.aria-label]="'Add ' + card.name + ' to print list'">
          <i class="bi bi-printer ms-1" aria-hidden="true"></i>
        </button>
        <span *ngIf="spellCardService.spellCardsToPrint.has(card.name)">
          *Added to print list
        </span>
      </div>
    </div>
  </div>

  <button (click)="showSpellStats = !showSpellStats"
    class="btn btn-link p-0 d-flex align-items-center"
    data-bs-toggle="collapse" 
    data-bs-target="#timeNameCollapse"
    [attr.aria-expanded]="showSpellStats"
    aria-controls="timeNameCollapse"
    aria-label="Toggle spell card stats">
    <h2 id="spellStatsHeading" class="mb-0">Spell Card Stats</h2>
    <i [ngClass]="{'rotate-clockwise' : showSpellStats}" 
      class="bi ms-3 bi-chevron-up med-icon rotate-transition"
      aria-hidden="true">
    </i>
  </button>
  <div class="collapse" id="timeNameCollapse" role="region" aria-labelledby="spellStatsHeading">
    <p>Total number of spells: {{spellCards.length}}</p>
    <h3>Spell costs</h3>
    <p>Number of spells costing 1: {{spellCost1Total}}</p>
    <p>Number of spells costing 2: {{spellCost2Total}}</p>
    <p>Number of spells costing 3: {{spellCost3Total}}</p>
    <p>Number of spells costing 4: {{spellCost4Total}}</p>
    <p>Number of spells costing 5: {{spellCost5Total}}</p>
    <p>Average spell cost: {{spellCostAverage}}</p>
    <h3>Regions</h3>
    <p>Number of Spells effecting Marsh Regions: {{spellRegionMarshTotal}}</p>
    <p>Number of Spells effecting Hills Regions: {{spellRegionHillsTotal}}</p>
    <p>Number of Spells effecting Forest Regions: {{spellRegionForestTotal}}</p>
    <p>Number of Spells effecting Plains Regions: {{spellRegionPlainsTotal}}</p>
    <p>Number of Spells effecting Badlands Regions: {{spellRegionBadlandsTotal}}</p>
    <h3>Other</h3>
    <p>Number of prepared spells: {{numberOfPreparedSpells}}</p>
    <p>Number of token spells: {{numberOfTokenSpells}}</p>
    <p>Number of combat spells: {{numberOfCombatSpells}}</p>
  </div>
</div>
