<div class="container">

  <app-heading-with-back [title]="'Spell Cards'"></app-heading-with-back>

  <div>
    <label for="spellCardSort">Spell Card Sort</label>
    <select (change)="sortOptionChangeEvent($event)"
      class="form-select mb-3"
      style="max-width: 300px;"
      id="spellCardSort" aria-label="How would you like to sort the spell card lis?">
      <option
        *ngFor="let option of SpellCardSortOptions | keyvalue"
        [ngValue]="option.value">{{option.value}}
      </option>
    </select>
  </div>

  <button *ngIf="spellCardService.spellCardsToPrint.size > 0"
    class="btn btn-primary sticky-top fade-in mb-2"
    style="top: 5px"
    (click)="router.navigate(['uprising/spell-cards-print-sheet'])"
  >
    Print Spell Cards {{spellCardService.spellCardsToPrint.size}}
  </button>


  <div class="row ms-0">
    <div *ngFor="let card of SpellCards; index as i"
      [ngClass]="{'selected' : spellCardService.spellCardsToPrint.has(card.name)}"
      class="card mb-2 me-2"
      style="max-width: 20rem;">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <i *ngIf="card.castType == 'Prepared'" class="bi bi-clock"></i>
          <i *ngIf="card.castType == 'Instant'" class="bi bi-lightning-fill"></i>
          <p class="card-title fs-6 fw-bold">{{card.name}}</p>
          <div>
            <i *ngFor="let item of [].constructor(card.spellCost)" class="bi bi-gem ms-1"></i>
          </div>
        </div>
        <div class="card-text" [innerHTML]="card.htmlDescription"></div>
      </div>
      <div class="card-footer row">
        <i class="bi bi-printer ms-1" (click)="addCardToPintList(card)"></i>
        <span *ngIf="spellCardService.spellCardsToPrint.has(card.name)">
          *Added to print list
        </span>
      </div>
    </div>
  </div>


  <h2>Spell Card Stats</h2>
  <p>Total number of spells: {{SpellCards.length}}</p>
  <h3>Spell costs</h3>
  <p>Number of spells costing 1: {{spellCost1Total}}</p>
  <p>Number of spells costing 2: {{spellCost2Total}}</p>
  <p>Number of spells costing 3: {{spellCost3Total}}</p>
  <p>Number of spells costing 4: {{spellCost4Total}}</p>
  <p>Number of spells costing 5: {{spellCost5Total}}</p>
  <p>Average spell cost: {{spellCostAverage}}</p>
  <h3>Regions</h3>
  <p>Number of Spells effecting Marsh Regions: {{spellRegionMarshTotal}}</p>
  <p>Number of Spells effecting Hills Regions: {{spellRegionHillsTotal}}</p>
  <p>Number of Spells effecting Forest Regions: {{spellRegionForestTotal}}</p>
  <p>Number of Spells effecting Plains Regions: {{spellRegionPlainsTotal}}</p>
  <p>Number of Spells effecting Badlands Regions: {{spellRegionBadlandsTotal}}</p>
  <h3>Other</h3>
  <p>Number of prepared spells: {{numberOfPreparedSpells}}</p>
  <p>Number of token spells: {{numberOfTokenSpells}}</p>
</div>
