
<div class="container">
  <app-heading-with-back [title]="'My Games'"></app-heading-with-back>

  <p>Here are the games you have added to your collection. You can view details about each game, including player count, game style, and length. Click on the BGG link to learn more about the game on BoardGameGeek.</p> 

  <button class="btn btn-primary me-2">Add Game</button>

  <button class="btn btn-primary me-2">Import BGG Games</button>

  <button class="btn btn-primary">Save Game List</button>
  <!-- <p>Sort Options</p>
  <select class="form-select w-auto" 
    (change)="sortOptionChangeEvent($event)">
    <option
        *ngFor="let option of sortOptions | keyvalue"
        [ngValue]="option.value">{{option.value}}
      </option>
  </select> -->

  <div class="row d-flex justify-content-center">
    <div *ngFor="let game of gameData" class="card game-card card-shadow m-3 p-0">
      <div class="card-body">
        <p class="card-title h5">{{game.name}}</p>
        <p class="card-text"><b>Player Count: </b>{{game.playerCount}}</p>
        <p class="mb-0"><b>Game Style:</b></p>
        <span *ngFor="let gameStyle of game.gameStyles; let i = index" class="card-text">
          {{gameStyle}}<span *ngIf="i + 1 != game.gameStyles.length">, </span>
        </span>
        <p class="card-text"><b>Length: </b>{{game.length}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <a class="card-link" href="{{game.bggLink}}" target="_blank">BGG Link</a>
          <i class="bi bi-dash-circle-fill" (click)="removeGame(game)"></i>
        </div>
        <img *ngIf="game.thumbnail" [src]="game.thumbnail" class="card-img-bottom mt-2" alt="{{game.name}} thumbnail">
      </div>
    </div>
  </div>

</div>
