
<div class="container">
  <app-heading-with-back [title]="'My Games'"></app-heading-with-back>

  <p>Here are the games you have added to your collection. You can view details about each game, including player count, game style, and length. Click on the BGG link to learn more about the game on BoardGameGeek.</p>

  <button class="btn btn-primary m-2">Add Game</button>

  <button class="btn btn-primary m-2">Import BGG Games</button>

  <button class="btn btn-primary m-2">Save Game List</button>

  <!-- <p>Sort Options</p>
  <select class="form-select w-auto"
    (change)="sortOptionChangeEvent($event)">
    <option
      *ngFor="let option of sortOptions | keyvalue"
      [ngValue]="option.value">{{option.value}}
    </option>
  </select> -->

  <div class="row d-flex justify-content-center">
    @for (game of gameData; track game) {
      <div class="card game-card card-shadow m-3 p-0">
        <div class="card-body">
          <p class="card-title h5">{{game.name}}</p>
          <p class="card-text"><b>Player Count: </b>{{game.playerCount}}</p>
          <p class="mb-0"><b>Game Style:</b></p>
          @for (gameStyle of game.gameStyles; track gameStyle; let i = $index) {
            <span class="card-text">
              {{gameStyle}}@if (i + 1 != game.gameStyles.length) {
              <span>, </span>
            }
          </span>
        }
        <p class="card-text"><b>Length: </b>{{game.length}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <a class="card-link" href="{{game.bggLink}}" target="_blank">BGG Link</a>
          <button class="btn btn-outline-primary btn-sm p-0" (click)="removeGame(game)">Remove</button>
        </div>
        @if (game.thumbnail) {
          <img [src]="game.thumbnail" class="card-img-bottom mt-2" alt="{{game.name}} thumbnail">
        }
      </div>
    </div>
  }
</div>

</div>
