<nav class="navbar navbar-dark navbar-expand-md bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Board Game Helper</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tools
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/tools/randomize-teams-start">Random Player and Team Order</a></li>
            <li><a class="dropdown-item" routerLink="/tools/timer">Turn and Action Timer</a></li>
            <li><a class="dropdown-item" routerLink="/tools/coin-flip">Coin Flip</a></li>
            <li><a class="dropdown-item" routerLink="/tools/draft">Start a Draft</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Games
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/holas">Heroes of Land, Air, and Sea</a></li>
            <li><a class="dropdown-item" routerLink="/ankh">Ankh</a></li>
            <li><a class="dropdown-item" routerLink="/kemet">Kemet</a></li>
            <li><a class="dropdown-item" routerLink="/descent">Descent</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/uprising">Uprising</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/pricing">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main [@slideInOutAnimation]= "o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>
