<div class="container">
  <app-heading-with-back [title]="'Reference Cards'"></app-heading-with-back>
  
  <h2>Unit Reference Cards</h2>
  <div class="d-flex flex-column">
    <a href="../../../assets/reference_cards/Unit Reference Card v3.jpg" target="_blank">Version 3</a>
    <a href="../../../assets/reference_cards/Unit Reference Card v4.jpg" target="_blank">Version 4</a>
    <a href="../../../assets/reference_cards/Unit Reference Card v5.jpg" target="_blank">Version 5</a>
    <a href="../../../assets/reference_cards/Unit Reference Card v6.jpg" target="_blank">Version 6 - Latest</a>
    <a href="../../../assets/reference_cards/Unit Reference Card v8.jpg" target="_blank">Version 8 - Beta Test</a>
  </div>

  <h2>Effect Token Reference Cards</h2>
  <div class="d-flex flex-column">
    <a href="../../../assets/reference_cards/Effect Tokens Reference Card v1.jpg" target="_blank">Version 1</a>
    <a href="../../../assets/reference_cards/Effect Tokens Reference Card v2.jpg" target="_blank">Version 2 - Latest</a>
  </div>

</div>
