@import "../../../styles.scss";

.radio-with-sample {
  display: flex;
  align-items: center;
  
  input {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .5rem;
  }
  label {
    min-width: 10rem;
  }
  i {
    font-size: 1.5rem;
    margin: 0;
  }
}

.timer-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.circular-progress {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .progress-ring {
    transform: rotate(-90deg);
    transform-origin: center;

    .progress-ring-background {
      fill: none;
      stroke: #e9ecef;
      stroke-width: 8;
    }

    .progress-ring-circle {
      fill: none;
      stroke-width: 8;
      stroke: url(#progressGradient);
      stroke-linecap: round;
      stroke-dasharray: 565.48;
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 0.35s;
    }
  }

  .timer-text {
    position: absolute;
    text-align: center;

    .timer-value {
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 1;
      margin: 0;
    }

    .timer-label {
      font-size: 0.875rem;
      color: #6c757d;
      margin: 0.25rem 0 0 0;
    }
  }
}