<div class="d-flex">
  <app-printable-spell-card [spellCard]="spellCards[0]"></app-printable-spell-card>
  <app-printable-spell-card [spellCard]="spellCards[34]"></app-printable-spell-card>
  <app-printable-spell-card [spellCard]="spellCards[56]"></app-printable-spell-card>
  <app-printable-spell-card [spellCard]="spellCards[52]"></app-printable-spell-card>
  <app-printable-spell-card [spellCard]="spellCards[9]"></app-printable-spell-card>
  <app-printable-spell-card [spellCard]="spellCards[76]"></app-printable-spell-card>
</div>
