<div class="container">
  
  <app-heading-with-back [title]="'Uprising Tools'"></app-heading-with-back>

  <div class="d-flex align-items-center">
    <button class="btn btn-primary btn-lg my-3" (click)="router.navigate(['uprising/maps'])">
      Game Modes and Setup Instructions
    </button>
    <i class="bi m-3 bi-question-circle-fill" style="font-size: 2.4rem;"
      data-bs-toggle="collapse" data-bs-target="#draftCollapse" aria-expanded="false" aria-controls="draftCollapse">
    </i>
  </div>
  <div class="collapse" id="draftCollapse">
    <div class="card card-body">
      This tool has links to a variety of maps and play options for quick reference.
    </div>
  </div>

  <div class="d-flex align-items-center">
    <button class="btn btn-primary btn-lg my-3" (click)="router.navigate(['uprising/mercenary-picker'])">
      Pick Random Mercenaries
    </button>
    <i class="bi m-3 bi-question-circle-fill" style="font-size: 2.4rem;"
      data-bs-toggle="collapse" data-bs-target="#mercenariesCollapse" aria-expanded="false" aria-controls="draftCollapse">
    </i>
  </div>
  <div class="collapse" id="mercenariesCollapse">
    <div class="card card-body">
      This tool will allow you to randomly select a group of mercenaries dependening on your player count.
    </div>
  </div>

  <div class="d-flex align-items-center">
    <button class="btn btn-primary btn-lg my-3" (click)="router.navigate(['uprising/tile-randomizer'])">
      Map Tile Randomizer
    </button>
    <i class="bi m-3 bi-question-circle-fill" style="font-size: 2.4rem;"
      data-bs-toggle="collapse" data-bs-target="#tileRandomizerCollapse" aria-expanded="false" aria-controls="tileRandomizerCollapse">
    </i>
  </div>
  <div class="collapse" id="tileRandomizerCollapse">
    <div class="card card-body">
      Shuffling large map tiles can be difficult. Use this tool to quickly randomize the order of the map tiles.
    </div>
  </div>

  <div class="d-flex align-items-center">
    <button class="btn btn-primary btn-lg my-3" (click)="router.navigate(['uprising/unit-reference-cards'])">
      Unit Reference Cards
    </button>
    <i class="bi m-3 bi-question-circle-fill" style="font-size: 2.4rem;"
      data-bs-toggle="collapse" data-bs-target="#unitReferenceCards" aria-expanded="false" aria-controls="unitReferenceCards">
    </i>
  </div>
  <div class="collapse" id="unitReferenceCards">
    <div class="card card-body">
      Access to current and past versions of the unit reference card.
    </div>
  </div>

  <div class="d-flex align-items-center">
    <button class="btn btn-primary btn-lg my-3" (click)="router.navigate(['uprising/map-builder'])">
      Map Builder
    </button>
    <i class="bi m-3 bi-question-circle-fill" style="font-size: 2.4rem;"
      data-bs-toggle="collapse" data-bs-target="#mapBuilder" aria-expanded="false" aria-controls="mapBuilder">
    </i>
  </div>
  <div class="collapse" id="mapBuilder">
    <div class="card card-body">
      Build your own custom Uprising maps.
    </div>
  </div>


</div>