<div class="container">
  <app-heading-with-back [title]="'Maps and Play Instructions'"></app-heading-with-back>

  <div (click)="showTwoPlayerMaps = !showTwoPlayerMaps"
    class="d-flex align-items-center"
    data-bs-toggle="collapse" 
    data-bs-target="#twoPlayerMapsColapse">
    <legend style="width: auto;" class="mb-0 fs-5">Two Player Maps:</legend>
    <i [ngClass]="{'rotate-clockwise' : showTwoPlayerMaps}" 
      class="bi ms-3 bi-chevron-down med-icon rotate-transition">
    </i>
  </div>
  <div class="collapse" id="twoPlayerMapsColapse">
    <div class="d-flex flex-column">
      <a [routerLink]="['/uprising/map-details', UprisingMapName.TwoPlayerStandard]">Two Player Standard</a>
      <a [routerLink]="['/uprising/map-details', UprisingMapName.DivideAndConquer]">Divide And Conquer</a>
    </div>
  </div>

  <div (click)="showThreePlayerMaps = !showThreePlayerMaps"
    class="d-flex align-items-center"
    data-bs-toggle="collapse" 
    data-bs-target="#threePlayerMapsColapse">
    <legend style="width: auto;" class="mb-0 fs-5">Three Player Maps:</legend>
    <i [ngClass]="{'rotate-clockwise' : showThreePlayerMaps}" 
      class="bi ms-3 bi-chevron-down med-icon rotate-transition">
    </i>
  </div>
  <div class="collapse" id="threePlayerMapsColapse">
    <div class="d-flex flex-column">
      <a [routerLink]="['/uprising/map-details', UprisingMapName.FortressDefense]">Fortress Defense</a>
    </div>
  </div>

  <div (click)="showFourPlayerMaps = !showFourPlayerMaps"
    class="d-flex align-items-center"
    data-bs-toggle="collapse" 
    data-bs-target="#fourPlayerMapsColapse">
    <legend style="width: auto;" class="mb-0 fs-5">Four Player Maps:</legend>
    <i [ngClass]="{'rotate-clockwise' : showFourPlayerMaps}" 
      class="bi ms-3 bi-chevron-down med-icon rotate-transition">
    </i>
  </div>
  <div class="collapse" id="fourPlayerMapsColapse">
    <div class="d-flex flex-column">
      <a [routerLink]="['/uprising/map-details', UprisingMapName.FourPlayerStandard]">Standard 4 Player Map</a>
      <a [routerLink]="['/uprising/map-details', UprisingMapName.Colosseum]">Colosseum</a>
      <a [routerLink]="['/uprising/map-details', UprisingMapName.CloseQuarters]">Close Quarters</a>
      <a [routerLink]="['/uprising/map-details', UprisingMapName.HourGlass]">Hour Glass</a>
      <a [routerLink]="['/uprising/map-details', UprisingMapName.BreathingRoom]">Breathing Room</a>
      <a [routerLink]="['/uprising/map-details', UprisingMapName.TheFly]">The Fly</a>
      <a [routerLink]="['/uprising/map-details', UprisingMapName.TheWildHunt]">The Wild Hunt</a>
      <a [routerLink]="['/uprising/map-details', UprisingMapName.GreatSacrifice]">Great Sacrifice</a>
    </div>
  </div>

  <!-- <div (click)="showFivePlayerMaps = !showFivePlayerMaps"
    class="d-flex align-items-center"
    data-bs-toggle="collapse" 
    data-bs-target="#fivePlayerMapsColapse">
    <legend style="width: auto;" class="mb-0 fs-5">Five Player Maps:</legend>
    <i [ngClass]="{'rotate-clockwise' : showFivePlayerMaps}" 
      class="bi ms-3 bi-chevron-down med-icon rotate-transition">
    </i>
  </div>
  <div class="collapse" id="fivePlayerMapsColapse">
    <div class="d-flex flex-column">
      <a [routerLink]="['/uprising/map-details', UprisingMapName.FivePlayerAssault]">Assault</a>
    </div>
  </div> -->

</div>