/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/bootstrap/scss/functions";

//Theme Light
$primary: #0b7555;
$secondary: #faeebe;
$body-bg: #ffffff;
$body-color: #05533c;
$navbar-dark-toggler-border-color: rgba(255, 255, 255, 0.8);


//bootstrap imports
@import "../node_modules/bootstrap/scss/bootstrap";

.med-icon,
.medium-icon {
  font-size: 1.5rem;
}

.card {
  &-shadow {
    box-shadow: 5px 5px 20px 10px rgba(9, 40, 66, 0.25);

    &__light {
      box-shadow: 0 0 20px rgba(9, 40, 66, 0.25);
    }
  }
}

.select {
  &-small {
    max-width: 150px;
  }
  &-med {
    max-width: 300px;
  }
  &-large {
    max-width: 600px
  }
}

.nav-help {
  max-width: 450px;
}

/* Styles for dice box */
#dice-container canvas {
  width: 100%;
  height: 100%;
}

