/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/bootstrap/scss/functions";

//Theme Light
$primary: #0b7555;
$secondary: #bb9200;
$body-bg: #fdfbf5;
$body-color: #05533c;

//Theme Dark
// $body-color: #f0f7f5;
// $primary: #30856b;
// $secondary: #bb9200;
// $body-bg: #2c2c2c;

// $theme-colors: (
//   Theme 1
//   primary: #0b7555,
//   secondary: #fdc600,
//   body-bg: #fdfbf5,
//   body-color: #055a41
// );

//bootstrap imports
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

//global styles imports
@import "../src/styles/animations.scss";

.med-icon,
.medium-icon {
  font-size: 1.5rem;
}

.card {
  &-shadow {
    box-shadow: 5px 5px 20px 10px rgba(9, 40, 66, 0.25);
    
    &__light {
      box-shadow: 0 0 20px rgba(9, 40, 66, 0.25);
    }
  }
}
