
<div class="container">
  <h1 class="mt-3 text-center">Welcome to Board Game Helper.</h1>
  <p class="text-center">A collection of tools and resources to help you get the most out of your favorite games!</p>
</div>

<div class="bg-secondary">
  <div class="container">

    <h2 class="text-center pt-3 mb-0">General Board Gaming tools</h2>

    <div class="row justify-content-center">

      <div class="card tool-card m-3"
        style="background-color: rgb(69, 114, 116)"
        (click)="router.navigate(['tools/randomize-teams-start'])">
        <div class="card-body text-center">
          <i class="tool-card--icon bi bi-shuffle"
            data-bs-toggle="collapse" data-bs-target="#randomTeams" aria-expanded="false" aria-controls="randomTeams">
          </i>
          <!-- <title class="card-title">Randomize Teams and Player Order</title>  -->
          <div class="h5">Randomize Teams and Player Order</div>
          <div>Assign each player to a random team and also set a random team order.</div>
        </div>
      </div>

      <div class="card tool-card m-3"
        style="background-color: rgb(116, 69, 89)"
        (click)="router.navigate(['tools/coin-flip'])">
        <div class="card-body text-center">
          <i class="tool-card--icon bi bi-coin"
            data-bs-toggle="collapse" data-bs-target="#randomTeams" aria-expanded="false" aria-controls="randomTeams">
          </i>
          <div class="h5">Flip a Coin</div>
          <div>Flip a coin and see the result.</div>
        </div>
      </div>

      <div class="card tool-card m-3"
        style="background-color: rgb(116, 111, 69)"
        (click)="router.navigate(['tools/timer'])">
        <div class="card-body text-center">
          <i class="tool-card--icon bi bi-hourglass-split"
            data-bs-toggle="collapse" data-bs-target="#randomTeams" aria-expanded="false" aria-controls="randomTeams">
          </i>
          <div class="h5">Turn and Action Timer</div>
          <div>Customize up to three different timers to use for different gameplay actions.</div>
        </div>
      </div>

      <div class="card tool-card m-3"
        style="background-color: rgb(69, 116, 75)"
        (click)="router.navigate(['tools/draft'])">
        <div class="card-body text-center">
          <i class="tool-card--icon bi bi-diagram-3-fill"
            data-bs-toggle="collapse" data-bs-target="#randomTeams" aria-expanded="false" aria-controls="randomTeams">
          </i>
          <div class="h5">Start a Draft</div>
          <div>
            This tool will allow you to add your own list of draftable items, and start a draft.
            It is advised that you determine teams and player order before starting a draft.
          </div>
        </div>
      </div>

      <div class="card tool-card m-3"
        style="background-color: rgb(105, 69, 116)"
        (click)="router.navigate(['tools/point-tracker'])">
        <div class="card-body text-center">
          <i class="tool-card--icon bi bi-plus-slash-minus"
            data-bs-toggle="collapse" data-bs-target="#randomTeams" aria-expanded="false" aria-controls="randomTeams">
          </i>
          <div class="h5">Player Point Tracker</div>
          <div>
            Keep track of player or team points using this tool.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <h2 class="text-center mt-3">Game Specific Tools</h2>

  <div class="row d-flex justify-content-center">
    <div class="card game-card card-shadow m-3 p-0">
      <a href='' routerLink="/holas">
        <img class="card-img-top" ngSrc='../../assets/holasFront.webp' height="248" width="248">
      </a>
      <div class="card-body">
        <p class="card-text">Heroes of Land, Air and Sea</p>
      </div>
    </div>

    <div class="card game-card card-shadow m-3 p-0">
      <a href='' routerLink="/kemet">
        <img class="card-img-top" ngSrc='../../assets/kemet.jfif' height="248" width="248">
      </a>
      <div class="card-body">
        <p class="card-text">Kemet</p>
      </div>
    </div>

    <div class="card game-card card-shadow m-3 p-0" style="position: relative;">
      <a href='' routerLink="/uprising">
        <img class="card-img-top" ngSrc='../../assets/uprising.png' height="248" width="248">
      </a>
      <div class="card-body">
        <p class="card-text">Uprising</p>
      </div>
      <img class="card-img-top" class="centered-absolute" src='../../assets/uprisingLogo.png'>
    </div>

    <!-- <div class="card game-card card-shadow m-3 p-0">
      <a href='' routerLink="/ankh">
        <img class="card-img-top" nGsrc='../../assets/AnkhFront.webp'>
      </a>
      <div class="card-body">
        <p class="card-text">Ankh</p>
      </div>
    </div> -->

    <div class="card game-card card-shadow m-3 p-0">
      <a href='' routerLink="/descent">
        <img class="card-img-top" src='../../assets/descentFront2.webp'>
      </a>
      <div class="card-body">
        <p class="card-text">Descent 2nd Edition</p>
      </div>
    </div>
  </div>

</div>


