
<div class="container">
  <h1 class="mt-3 text-center">Welcome to Board Game Helper.</h1>
  <p class="text-center">A collection of tools and resources to help you get the most out of your favorite games!</p>
</div>

<div class="bg-secondary">
  <div class="container">
    
    <h2 class="text-center pt-3 mb-0">General Board Gaming tools</h2>
    
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center">
        <button class="btn btn-primary my-3" (click)="router.navigate(['tools/randomize-teams-start'])">
          Randomize Teams and Player Order
        </button>
        <i class="bi m-3 bi-question-circle-fill" style="font-size: 2.4rem;"
          data-bs-toggle="collapse" data-bs-target="#randomTeams" aria-expanded="false" aria-controls="randomTeams">
        </i>
      </div>
      <div class="collapse pb-3" id="randomTeams">
        <div class="card card-body">
          This tool will assign each player to a random team and also set a random team order.
        </div>
      </div>

      <div class="d-flex align-items-center">
        <button class="btn btn-primary my-3" (click)="router.navigate(['tools/coin-flip'])">
          Flip a Coin
        </button>
        <i class="bi m-3 bi-question-circle-fill" style="font-size: 2.4rem;"
          data-bs-toggle="collapse" data-bs-target="#coinFlipCollapse" aria-expanded="false" aria-controls="coinFlipCollapse">
        </i>
      </div>
      <div class="collapse pb-3" id="coinFlipCollapse">
        <div class="card card-body">
          Flip a coin and see the result. Pretty simple really...
        </div>
      </div>
  
      <div class="d-flex align-items-center">
        <button class="btn btn-primary my-3" (click)="router.navigate(['tools/timer'])">
          Turn and Action Timer
        </button>
        <i class="bi m-3 bi-question-circle-fill" style="font-size: 2.4rem;"
          data-bs-toggle="collapse" data-bs-target="#timerCollapse" aria-expanded="false" aria-controls="timerCollapse">
        </i>
      </div>
      <div class="collapse pb-3" id="timerCollapse">
        <div class="card card-body">
          This tool will allow you to customize up to three different timers to use for different gameplay actions.
        </div>
      </div>

      <div class="d-flex align-items-center">
        <button class="btn btn-primary my-3" (click)="router.navigate(['tools/draft'])">
          Start a Draft
        </button>
        <i class="bi m-3 bi-question-circle-fill" style="font-size: 2.4rem;"
          data-bs-toggle="collapse" data-bs-target="#draftCollapse" aria-expanded="false" aria-controls="draftCollapse">
        </i>
      </div>
      <div class="collapse pb-3" id="draftCollapse">
        <div class="card card-body">
          This tool will allow you to add your own list of draftable items, and start a draft. 
          It is advised that you determine teams and player order before starting a draft.
        </div>
      </div>
    
    </div>
  </div>
</div>


<div class="container">
  <h2 class="text-center mt-3">Game Specific Tools</h2>

  <div class="row d-flex justify-content-center">
    <div class="card game-card card-shadow m-3 p-0">
      <a href='' routerLink="/holas">
        <img class="card-img-top" src='../../assets/holasFront.webp'>
      </a>
      <div class="card-body">
        <p class="card-text">Heroes of Land, Air and Sea</p>
      </div>
    </div>

    <div class="card game-card card-shadow m-3 p-0">
      <a href='' routerLink="/kemet">
        <img class="card-img-top" height=248px src='../../assets/kemet.jfif'>
      </a>
      <div class="card-body">
        <p class="card-text">Kemet</p>
      </div>
    </div>

    <div class="card game-card card-shadow m-3 p-0" style="position: relative;">
      <a href='' routerLink="/uprising">
        <img class="card-img-top" src='../../assets/uprising.jpg' style="height: 248px;">
      </a>
      <div class="card-body">
        <p class="card-text">Uprising</p>
      </div>
      <img class="card-img-top" class="centered-absolute" src='../../assets/uprisingLogo.png'>
    </div>
    
    <div class="card game-card card-shadow m-3 p-0">
      <a href='' routerLink="/ankh">
        <img class="card-img-top" src='../../assets/AnkhFront.webp'>
      </a>
      <div class="card-body">
        <p class="card-text">Ankh</p>
      </div>
    </div>
    
    <div class="card game-card card-shadow m-3 p-0">
      <a href='' routerLink="/descent">
        <img class="card-img-top" src='../../assets/descentFront2.webp'>
      </a>
      <div class="card-body">
        <p class="card-text">Descent 2nd Edition</p>
      </div>
    </div>
  </div>

</div>


