
<div class="container"> 
  <p class="h3 mt-2 mb-0">Welcome to Board Game Helper.</p>
  <p>A collection of tools and resources to help you get the most out of your favorite games!</p>


  <div class="row">
    <div class="card m-3 p-0">
      <a href='' routerLink="/holas">
        <img class="card-img-top" src='../../assets/holasFront.webp'>
      </a>
      <div class="card-body">
        <p class="card-text">Heroes of Land, Air and Sea</p>
      </div>
    </div>
    
    <div class="card m-3 p-0">
      <a href='' routerLink="/ankh">
        <img class="card-img-top" src='../../assets/AnkhFront.webp'>
      </a>
      <div class="card-body">
        <p class="card-text">Ankh</p>
      </div>
    </div>
    
    <div class="card m-3 p-0">
      <a href='' routerLink="/ankh">
        <img class="card-img-top" src='../../assets/descentFront2.webp'>
      </a>
      <div class="card-body">
        <p class="card-text">Descent 2nd Edition</p>
      </div>
    </div>
  </div>

</div>


