<div class='container'>
  <h1 class="mt-3">Draft Summary</h1>

  @for (player of draftService.playerMap.values(); track player) {
    <div class="card mb-4 card-shadow__light"
      style="max-width: 500px"
      >
      <div class="row">
        <div class="col-4 d-flex align-items-center">
          <app-draft-icon [size]="IconSize.Medium" [icon]="player.icon"></app-draft-icon>
        </div>
        <div class="col-8 card-body">
          <p class="card-title h5">Player {{player.playerNumber}}</p>
          @if (draftService.teamDraft) {
            <p class="card-text mb-1">Team {{player.team}}</p>
          }
          <p class="card-text mb-1">Faction: {{player.factionPick.faction}} @if (draftService.randomBuilding) {
            <span>with {{player.factionPick.building}}</span>
          }</p>
          @if (player.mercenaryPick) {
            <p class="card-text mb-1">Mercenary: {{player.mercenaryPick}}</p>
          }
        </div>
      </div>
    </div>
  }

  <strong>
    <a routerLink="/holas">Back to HOLAS Tools</a>
  </strong>

</div>
